<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Szpital</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.4.5/spectre.min.css" integrity="sha512-ixkV1XQlIe5qFmlGKThyYFBm14zZe2j2Rn/Pl+xNKCQxsPviyGFCE6I9LLx8H57quHN5pgGh0jVrlE+sv/satQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../Style.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="../JS/PatientJS.js" type="text/javascript"></script>
</head>
<style>
    b-col{
        margin:20px;
    }
    .wrapper {
        height: 100vh;
        display: flex;

        /* Direction of the items, can be row or column */
        flex-direction: column;
    }
    .wrapper {
        height: 100vh;
        display: flex;

        /* Direction of the items, can be row or column */
        flex-direction: column;
    }
</style>
<body>
<div class="wrapper">
    <header>
        <div>

        </div >
        <nav class="nav-wrapper">
                    <h1 style="padding: 10px 25px">Szpital</h1>
                    <ul>
                        <li><a href="/">Strona główna</a></li>
                        <li><a href="/employees">Pracownicy</a></li>
                        <li><a href="/dept">Oddziały</a></li>
                        <li><a href="/patients">Pacjenci</a></li>
                        <li><a href="/employments">Zatrudnienie</a> </li>
                    </ul>
                    <img src="../logo.png">
                </nav>

    </header>
    <main>

        <br><br>

        <div class="table">
            <form action="PacjenciDetails%20.html" onsubmit="return validate()">
            <div class="tableAdd" >
                <h2 class="titleContent" id="demo">Dodaj Pacjenta</h2>
                <b-row>

                    <b-col lg="3" md="6">
                        <label for="idPacj"></label>
                        <input  type="number" name="ID_dept" id="idPacj" placeholder="ID" required />
                    </b-col>

                    <b-col lg="3" md="6">
                        <input  type="text" name="Name_dept" id="imiePacj" placeholder="Imie" required>
                    </b-col>

                    <b-col lg="3" md="6">
                        <input  type="nubmer" name="nbWorkers_dept" id="nazwiskoPacj" placeholder="Nazwisko" required>
                    </b-col>

                    <b-col lg="3" md="6">
                        <input  type="number" name="Budget_dept" id="peselPacj" placeholder="Pesel" required>
                    </b-col>

                    <b-col lg="3" md="6">
                        <input type="number" name="Budget_dept" id="adresPacj" placeholder="Adres" required>
                    </b-col>

                </b-row>
            </div>
                <div style="color: #de2a60; text-align: center; margin-top:3rem; font-size: 1.5rem" id="errorText">
            <div class="buttons">

                <button class="addButton"  type="submit" value="Dodaj"> Dodaj Pacjenta </button>

                <a class="addButtonA"  type="submit"  href="SzpitalPacjenci.html"> Powrót </a>

            </div>
            </form>
        </div>
    </main>

    <footer>
        <div class="bottomList">
            <nav class="bottomWrapper">
                Piotr Żmuda s21588
            </nav>
        </div>
    </footer>
</div>

</body>
</html>